header{margin: 20px;}

.about-box ul li{width: 100%;}


.project-detail{    
    flex-direction: column;
    display: inline-block;
}
.img-box{
    background: #fff;
    line-height: initial;
}

.board{
    font-size: 15px;
}
.board-btn{margin-top: 50px;}

.pop-layer{
    width: 60%;
}
.pop-title{
    font-size: 25px;
    line-height: 70px;
}
.pop-title a {
    right:20px;
    top:0px;
    
}

